/*
	COLOUR PALETTE

	White        #fff;
	Red          #c54b3c
    Navy         #393b47;
	Off-Black    #2b2e37;
*/

body {
	font-family: 'Assistant', sans-serif;
	background-color: #2b2e37;
}

header {
	text-align: center;
	background-color: #c54b3c;
	color: #fff;
	padding: 1rem 0;
	margin-bottom: 1.5rem;
}

main>h2 {
	display: flex;
	color:#fff;
}

section {
	max-width: calc(100% / 2 - 0.5rem);
	padding: 1rem;
	background-color: white;
	border: 1px #666666 solid;
	border-radius: 4px;
}

section>img {
	display: flex;
	align-items: center;
	max-height: calc(inherit * 0.4)
}

aside {
	padding: 1rem;
	border: 1px #666666 solid;
	border-radius: 4px;
}

footer {
	padding: 1rem 0;
	text-align: center;
	color: #fff;
}

.wide-flex {
	display: flex;
	max-width: 1280px;
	margin: auto;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

/* Mobile View */
/* Medium View */



/* Largest View */